/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

$yellowish: #f1bc04;
$orangeish:  #d77604;
$yellow: #eed932;
$teal: #0cb4a8;
$navy: #020d17;


/* customize ui variables */
$menu-item-selected-color: $teal;
$menu-item-primed-color: darken($teal, 15%);
$menu-item-color: darken($teal, 30%);
$menu-input-text-color: $teal;
$menu-input-bg-color: white;
$progress-holder-color: $navy;
$progress-bar-color: lighten($navy, 10%);
$hud-bg-color: $navy;
$spinner-color: $teal;

@mixin flexbox{
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: -moz-flex;
	-moz-flex-direction: column;
	-moz-align-items: center;
	-moz-justify-content: center;
}

/* import base css */
@import "compass/reset";
@import "compass/css3";
@import "pres/pres";
@import "components/buttons";
@import "components/iframe";
@import "components/filter";

/* custom styles */
body{
	font-family: "Futura PT", "futura-pt", "Futura Std", impact, sans-serif;
	font-size: 2rem;
	color: white;
}

h2, h3, h4{
	position: relative;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	letter-spacing: .1em;
	margin-bottom: 1rem;

    a{
        font-weight: bold;
    }
}

h2{
	font-size: 6rem;
}

h3{
	font-size: 4rem;
}

h4{
	font-size: 2rem;	
}

a{
	color: #efefef;
	text-decoration: none;
	font-weight: 500;
	
	&:hover{
		color: white;
	};
}

ol{
	font-size: 3rem;
	text-transform: uppercase;
	list-style-type: decimal;
}

li{
	line-height: 1.5;
}

header{
	position: absolute;
	margin-top: 2rem;
	top: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;	
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 1.5;
	
	small{
		font-size: .8rem;
	}
}

footer{
	position: absolute;
	margin-bottom: 1rem;
	bottom: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;	
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5;
}

blockquote{
	padding: 1em;
	font-size: 4rem;
	color: #ccc;
	line-height: 1.5;
}

em{
	font-weight: bold;
	font-style: italic;
	color: #fff;
}

code{
	display: block;
	background: white;
	padding: 1em;
	margin-top: 1em;
	max-width: 100%;
	color: black;
	line-height: 1.5;
	font-family: courier, monospace;
	white-space: pre;
}

.code-red{
	font-weight: bold;
	color: #cc0000;
}

.slide{
	-webkit-box-sizing: border-box;
	padding: 1rem;
}

.slide--orange{
	background: #F1953C; //#f0a964;
}

.slide--orange-swirl{
	background-image: url(../assets/images/patterns/wild-sea.png);
}

.slide--black{
	color: white;
	background: #222;
}

.slide--iframe{
	background: #f2f2f2;
	
	h2{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		height: 100px;
		color: white;
		z-index: 2;
	}
	
	header{
        color: black;
    }

	a{
		color: $teal;
		&:hover{
			color: black;
		};
	}
}

.slide--full{
	padding: 0;
	
	iframe{
		width: 100vw;
		height: 100vh;
        pointer-events: none;
        background-color: black;
	}
}

#fixed a{
	font-family: 'avenir', serif;
    font-weight: 100;
    font-size: 1.5rem;
    text-transform: lowercase;
}

#cover{
	background-image: url(../assets/images/cover.png);
    background-size: cover;
	background-position: center;
	
    // *{
    //     mix-blend-mode: difference;
    // }
}

#hi{
    background-image: url(../assets/images/yosemite.jpg);
	// background-image: url(../assets/images/point-reyes.jpg);
	// background-position: 30%;
	background-size: cover;
	background-position: center;
	text-transform: uppercase;
	font-weight: bold;
}

.head-shot{
	width: 200px;
	margin-bottom: 1em;
	-webkit-clip-path: ellipse(50%, 50%, 50%, 50%);
}

#rich{
    background-image: url(../assets/images/invaders.png);
	background-size: cover;
	background-position: center;
}

#definition{
    background-color: #394466;
}

#video-games{
    background-image: url(../assets/images/pacman.jpg);
	background-size: cover;
	background-position: center;
}

#myst{
	background-image: url(../assets/images/myst.jpeg);
	background-size: cover;
	background-position: center;
}

#achievement{
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 1em;
    margin-left: -150px;
    padding: 1em 1.5em;
    padding-bottom: 0;
    border-radius: 3em;
    font-size: 1rem;
    font-weight: normal;
    font-family: helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.8);
    @include transition(-webkit-transform 0.2s ease-out 1s);
    @include transform(translateY(-100px));
    
    svg{
        display: inline-block;
        float: left;
        margin-top: -0.75em;
        margin-left: -1em;
    }

    .achievement-text{
        float: left;
    }

    em{
        display: block;
        margin-bottom: 0.5em;
        font-weight: 100;
        font-style: normal;
    }   

    &.in{
        @include transform(translateY(0px));
    }
}

#gamification{
    background-image: url(../assets/images/game.jpg);
	background-size: cover;
	background-position: center;	
}

#history{
	background-image: url(../assets/images/patterns/wallpaper_orange.jpg);
	background-position: center;
}

#web{
    h2{
        color: black;
        font-family: serif;
    }

    background: white;
}

#mobile{
    background-image: url(../assets/images/point-reyes2.jpg);
	background-size: cover;
	background-position: center;
	
	h2{
		color: white;
		text-shadow: 0px 0px 20px rgba(0, 50, 100, 0.5);
	}
}

#html5{
	background-image: url(../assets/images/patterns/wallpaper_purple.jpg);
	background-position: center;
	
	h2, h4 {
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);	
	}
}

#filters{
    background-image: url(../assets/images/filters.jpg);
	background-size: cover;
	background-position: center;
}

#masks{
    background-image: url(../assets/images/mask.jpg);
	background-size: cover;
	background-position: center;
}

#clip{
    background-image: url(../assets/images/clippath.jpg);
	background-size: cover;
	background-position: center;
}

#blend{
    background-image: url(../assets/images/blend.jpg);
	background-size: cover;
	background-position: center;
}

#snap{
    background-color: white;
    background-image: url(../assets/images/snap-croc.svg);
	background-size: auto 100%;
    background-position: bottom left;
    background-repeat: no-repeat;

    h2{
        color: #333;
    }
}

#generative{
    background-color: white;
    background-image: url(../assets/images/patterns/square-pattern.svg);
    background-repeat: repeat;
    
    h2{
        color: #333;
    }
}

#pixi{
    background: #101228;
}

#canvas-blend{
    background-image: url(../assets/images/blend.jpg);
	background-size: cover;
	background-position: center;
}

#dynamic-mask{
    background-image: url(../assets/images/maskdynamic.jpg);
	background-size: cover;
	background-position: center;
}

#video{
	video{
		position: absolute;
		top: 0;
		left: 0;
	}
	
	h2{
		color: #e81e6f;
		@include transform(translateZ(0));
	}
}

#semantics{
    background-image: url(../assets/images/wes2.jpg);
	background-size: cover;
	background-position: center bottom;

    h2{
        color: white;
		text-shadow: 0 0 10px rgba(199, 199, 132, 0.5);
    }
}

h2.top-left{
    position: absolute;
    top: 3rem;
    bottom: auto;
    left: 3rem;
    right: auto;
    max-width: 50%;
    text-align: left;
    font-size: 4rem;
}

#resources{
	font-size: 1rem;
	
	h2{
		font-size: 3rem;
	}
	
	h3{
		font-size: 2rem;
	}
}

#warning{
	display: none;
}

.no-flexbox{
	#warning{
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black;
		color: white;
		text-align: center;
		z-index: 10000;
		
		p{
			display: block;
			margin: 100px auto;
			width: 70%;
			line-height: 1.5;
		}
	}
}

.touch{
	#preloader{
		display: none;
	}
	
	#deck{
		position: static;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	
	.slide{
		@include flexbox;
		left: 0;
		top: 0;
		position: relative;
		opacity: 1;
		pointer-events: auto;
	}
	
	.slide--iframe{
		display: none;
	}
	
	#ui-button-css .ui-button-css-side, #ui-button-css, #ui-button-css-mask, #ui-button-css-blend{
		width: 100px;
		height: 100px;
	}
	
	#filter-list-image{
		width: 200px
	}
	
	.mask-item, .mask-dynamic-item{
		height: 100px;
	}
}

@media screen and (max-width: 600px) {
	html{
		font-size: .3em;
	}
}

