
@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg);
	}
	to { 
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
	}
}

html, body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body{
	position: relative;
    @include perspective-origin(center center);
	@include transform-style(preserve-3d);
}

aside{
	display: none;
}

#ground{
	position: fixed;
	pointer-events: none;
}

#css-renderer{
	position: absolute;
	z-index: 3;
}

#deck{
	position: fixed;
	z-index: 5;
}

#instructions{
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: .75em;
	padding: 1rem;
	z-index: 100;
	text-transform: uppercase;
}

#fixed{
	position: fixed;
	bottom: 0;
	right: 0;
	padding: .5em;
	z-index: 100;
	
	a{
		color: white;
		font-weight: 800;	
	}
	
	a:hover{
		opacity: 0.5;
	}
}

#hud{
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: $hud-bg-color;
	z-index: 100;
}

#preloader{
	@include flexbox;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #efefef;
}

#progressHolder{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: $progress-holder-color;
}

#progressBar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background: $progress-bar-color;
}

.spinner{
	width: 50px;
	height: 50px;
	background: $spinner-color;
	-webkit-animation: rotate 0.5s infinite linear;
	-moz-animation: rotate 0.5s infinite linear;
}

.slide{
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	opacity: 0;
	
	&.visible{
		@include flexbox;
		opacity: 1;	
		pointer-events: auto;	
	}
}

.hud-input{
	position: absolute;
	top: 0;
	height: 5rem;
	width: 100%;
	padding: .5rem;
	font-size: 4rem;
	font-weight: 800;
	line-height: 5rem;
	color: $menu-input-text-color;
	background-color: $menu-input-bg-color;
	z-index: 20;
	//@include transition(all .2s ease-out);
	//@include transform(translateZ(0) rotateX(-90deg));
	//@include transform-origin(top, center);
	
	&.in{
		@include transform(translateZ(0));
	}
}

.hud-list{
	position: relative;
	-webkit-perspective: 10000;
	z-index: 0;
}

.hud-list-item{
	position: relative;
	
	padding: 1rem;
	text-transform: uppercase;
	text-align: center;
	font-size: 4rem;
	font-weight: 100;
	color: white;
	
	background-color: $menu-item-color;
	@include transform(scale(.9));
	@include transition(transform .2s linear, -webkit-transform .2s linear, background-color .2s linear);
	z-index: 1;
	
	&.prev{
		@include transform(scale(1));
	}
	
	&.next{
		@include transform(scale(1));
	}
	
	&.primed{
		background-color: $menu-item-primed-color;
		z-index: 5;
	}
	
	&.selected{
		@include transform(scale(1.2));
		background-color: $menu-item-selected-color;
		z-index: 10;
	}
}

#warning{
	display: none;
}

.touch{
	#preloader{
		display: none;
	}
	
	#deck{
		position: static;
		overflow-y: scroll;
		overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
	}
	
	.slide{
		@include flexbox;
		left: 0;
		top: 0;
		position: relative;
		opacity: 1;
		pointer-events: auto;
	}
}
