iframe{
	width: 90vw;
	height: 90vh;
	z-index: 0;
	background: white;
	outline: 0em solid rgba(0, 0, 0, 0);
	//@include transition(outline 1s);
	
	&.focus{
		outline: 100px solid rgba(0, 0, 0, .75);
	};
}

.iframe-clickarea{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	
	&.focus{
		pointer-events: none;
		cursor: auto;
	}
}